{% extends "base.html" %}
{% block title %}
My Matches
{% endblock %}

{% block content %}
<div class="content">

  <h2>My Matches</h2>

  <!-- Erstellte Matches -->
  <div class="mb-4">
    <h4>Erstellte Matches</h4>
<!-- Matches angezeigt bei denen User Host ist-->
    {% if created_matches %}
    <!-- Match Infos anzeigen-->
      <ul>
        {% for match in created_matches %}
          <li class="mb-3">
            <strong>{{ match.title }}</strong><br>
            {{ match.location }}<br>
            {{ match.match_time }}<br><br>
    <!-- Match Details seite anzeigen -->
            <a href="{{ url_for('match_detail', match_id=match.id) }}"
               class="btn btn-primary btn-sm">
              Details
            </a>
    <!-- Für den Host wird cancel option angezeigt -->
            <form method="post"
                  action="{{ url_for('cancel_match', match_id=match.id) }}"
                  style="display:inline;">
              <button class="btn btn-danger btn-sm">
                Cancel Match
              </button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% else %}
    <!-- Falls das nicht zutrifft -> User hat kein Match erstellt-->
      <p>Keine erstellten Matches.</p>
    {% endif %}
  </div>

  <hr>

  <!-- Beigetretene Matches -->
  <div class="mb-4">
    <h4>Beigetretene Matches</h4>
<!-- Matches bei denen User Teilnehmer ist werden angezeigt-->
    {% if joined_matches %}
      <ul>
        <!-- Match Info anzeigen -->
        {% for match in joined_matches %}
          <li class="mb-3">
            <strong>{{ match.title }}</strong><br>
            {{ match.location }}<br>
            {{ match.match_time }}<br><br>
        <!-- Match Detailseite-->
            <a href="{{ url_for('match_detail', match_id=match.id) }}"
               class="btn btn-primary btn-sm">
              Details
            </a>
        <!-- Leave Button nur für Teilnehmer angezeigt-->    
            <form method="post"
                  action="{{ url_for('leave_match', match_id=match.id) }}"
                  style="display:inline;">
              <button class="btn btn-warning btn-sm">
                Leave
              </button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% else %}
    <!-- Falls nicht zutrifft -> noch keinem Match beigetreten-->
      <p>Du bist noch keinem Match beigetreten.</p>
    {% endif %}
  </div>

</div>
{% endblock %}